---
layout: default
---
    <div class="container-fluid bg-dark">
        <h1 class="display-1 text-light">Erik Ostrom</h1>
        <h2 class="display-6 text-light">Computer Systems Administrator</h2>
        <div class="row">
            <div class="col-sm-3 p-3 bg-secondary text-light">
                <i class="bi bi-envelope-paper px-2"></i>eostrom@protonmail.com
            </div>
            <div class="col-sm-3 p-3 bg-secondary text-light"><i class="bi bi-phone-vibrate-fill px-2"></i>(65s3ven)464-3663</div>
            <div class="col-sm-3 p-3 bg-secondary text-light"><i class="bi bi-git px-2"></i>gitlab.com/eostrom1</div>
            <div class="col-sm-3 p-3 bg-secondary text-light"><i class="bi bi-body-text px-2"></i><a href="https://eostrom1.gitlab.io/" class="link-primary">eostrom1.gitlab.io</a></div>
        </div>
        <div class="row">
            <div class="col-sm-8 bg-dark text-light">
                <h3>Biography</h3>
                <p>I am a Systems Administrator for the Voiland College of Engineering and Architecture at Washington State University. I obtained my B.S. Computer Science in 2019 from the school of Electrical Engineering and Computer Science at washington State University.</p>

<p>I have been working for VCEA IT for several years, wearing a couple different hats. I started my career at WSU as a student worker in the IT department for the School of Design and Construction, eventually transitioning into a full time position as the IT person for the department, while still taking classes working towards my Computer Science bachelor's degree. In 2015, I took a job with VCEA IT as the IT Helpdesk Manager. After serving a few years in that position, an opportunity opened up for a Systems Administrator position with VCEA IT, and in late 2018, my job title was changed from Helpdesk Manager to Computer Systems Administrator! In 2020, I moved away from Pullman but stayed on working remotely (I was working from home before working from home was cool!).</p>

<p>I am passionate about my job as a Systems Adminstrator, and really enjoy the wide array of challenges that I get to tackle working with VCEA IT. Some of my day-to-day tasks include DNS/DHCP/IPAM administration (Men&Mice, Bind, Unbound, ISC dhcpd), networking design and implementation, Linux server administration, managing multiple Active Directory forests and Linux Kerberos Realms (FreeIPA), Firewall managment (PFSense), managing our team's Ansible deployment (including developing playbooks, inventories, and roles). I also work on containerizing some of our team's projects (Apache Guacamole behind Nginx with ModSecurity, for example), mentoring junior Systems Administrators and student employees, and I am generally in a leading role on creating new policies, plans, and procedures for our group.</p>

<p>My background in Computer Science helps me interface better with faculty in the School of Electrical Engineering and Computer Science, who happen to be some of our primary customers. When I need to script something, I'll generally be reaching for Bash or Python, but my background in CS lets me work closely with faculty, researchers, and students who might be working on projects in other languages or that are part of larger frameworks.</p>

<p>VCEA IT is in quite a unique position on WSU's Pullman campus, in that we host two of our own standalone datacenters in VCEA buildings. For the most part, WSU Central ITS simply acts as an ISP for us, and our team handles everything behind our network border, from firewalls to networking (switches, cable plant, HA failover, etc...) to storage to virtual infrastructure. Having our own infrastructure allows VCEA IT to offer services to faculty and researchers in the College at rates well below what is available to the University in general.</p>
            </div>
            <div class="col-sm-4 bg-dark text-light border-left border-light"><h3>Skills</h3>
            <p>some skills</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-8 bg-dark text-light">
                <h3>Work History</h3>
                <p>jobs blah blah blah</p>
            </div>
            <div class="col-sm-4 bg-dark text-light border-left border-light"><h3>Education</h3>
            <p>edu</p>
            </div>
        </div>
    </div>
